<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myLegoDB | Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/password.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Build your password</h1>
      <p>
        Click a place on the grid to place. Change the colours, chose different
        bricks and use "R" or click the rotate button to rotate the brick. We
        recommend taking a screenshot before clicking Submit Password to ensure
        you remember your password.
      </p>
    </div>

    <div id="buildYourPassword-container"></div>
    <button class="button rotate" id="buildYourPassword-rotateButton">
      Rotate Brick
    </button>
    <button class="button submit" id="buildYourPassword-submitButton">
      Submit Password
    </button>

    <div id="buildYourPassword-selector">
      <div id="buildYourPassword-colourSelectorHolder">
        <button
          class="colourSelect selected buttonC"
          style="background-color: red"
          data-colour="#ff0000"
          data-studcolour="#ab1f1f"
        ></button>
        <button
          class="colourSelect"
          style="background-color: orange"
          data-colour="#ffa500"
          data-studcolour="#ab7718"
        ></button>
        <button
          class="colourSelect"
          style="background-color: yellow"
          data-colour="#ffff00"
          data-studcolour="#9c9c25"
        ></button>
        <button
          class="colourSelect"
          style="background-color: green"
          data-colour="#00ff00"
          data-studcolour="#298a29"
        ></button>
        <button
          class="colourSelect"
          style="background-color: blue"
          data-colour="#0000ff"
          data-studcolour="#26268c"
        ></button>
        <button
          class="colourSelect"
          style="background-color: purple"
          data-colour="#800080"
          data-studcolour="#4f234f"
        ></button>
        <button
          class="colourSelect"
          style="background-color: white"
          data-colour="#ffffff"
          data-studcolour="#ababab"
        ></button>
        <button
          class="colourSelect"
          style="background-color: black"
          data-colour="#000000"
          data-studcolour="#3d3d3d"
        ></button>
        <button
          class="colourSelect"
          style="background-color: gray"
          data-colour="#888888"
          data-studcolour="#525252"
        ></button>
      </div>
      <div id="buildYourPassword-brickSelectorHolder">
        <button
          class="brick brick-1x1 selected"
          data-brickwidth="1"
          data-bricklength="1"
        >
          <div class="stud"></div>
        </button>
        <button
          class="brick brick-2x1"
          data-brickwidth="2"
          data-bricklength="1"
        >
          <div class="stud"></div>
          <div class="stud"></div>
        </button>
        <button
          class="brick brick-4x1"
          data-brickwidth="4"
          data-bricklength="1"
        >
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
        </button>
        <button
          class="brick brick-2x2"
          data-brickwidth="2"
          data-bricklength="2"
        >
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
        </button>
        <button
          class="brick brick-4x2"
          data-brickwidth="4"
          data-bricklength="2"
        >
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
          <div class="stud"></div>
        </button>
      </div>
    </div>

    <!-- ThreeJS -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
        }
      }
    </script>

    <!-- Main JS -->
    <script
      type="module"
      src="{{ url_for('static', filename='js/register/password.js') }}"
    ></script>
  </body>
</html>
