{% extends "base.html" %}{% block content %}
<div class="container mt-5">
  <h1 class="text-primary">Recently Posted Sets</h1>
  <div class="row" id="loading-row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="130"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Loading...</title>
          <rect width="100%" height="100%" fill="#e9ecef"></rect>
        </svg>

        <div class="card-body p-2">
          <h5 class="card-title mb-1 placeholder-glow">
            <span class="placeholder col-8"></span>
          </h5>
          <p
            class="card-text placeholder-glow mb-0 d-flex align-items-center small"
          >
            <span
              class="placeholder rounded-circle me-2"
              style="width: 20px; height: 20px"
            ></span>
            <span class="placeholder col-4"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-none" id="cards-row"></div>

  <h1 class="text-primary">Most Popular Sets</h1>
  <div class="row" id="loading-row-sets">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="130"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Loading...</title>
          <rect width="100%" height="100%" fill="#e9ecef"></rect>
        </svg>

        <div class="card-body p-2">
          <h5 class="card-title mb-1 placeholder-glow">
            <span class="placeholder col-8"></span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-none" id="cards-row-sets"></div>

  <h1 class="text-primary">From People You Follow</h1>
  <div class="row" id="loading-row-following">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="130"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Loading...</title>
          <rect width="100%" height="100%" fill="#e9ecef"></rect>
        </svg>

        <div class="card-body p-2">
          <h5 class="card-title mb-1 placeholder-glow">
            <span class="placeholder col-8"></span>
          </h5>
          <p
            class="card-text placeholder-glow mb-0 d-flex align-items-center small"
          >
            <span
              class="placeholder rounded-circle me-2"
              style="width: 20px; height: 20px"
            ></span>
            <span class="placeholder col-4"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-none" id="cards-row-following"></div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>

<script>
  fetch(`/api/user`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((res) => res.json())
    .then(async (userData) => {
      fetch(`/api/uploads?per_page=8`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then(async (data) => {
          const row = document.getElementById("cards-row");
          row.innerHTML = "";

          for (let upload of data.uploads) {
            try {
              const userResponse = await fetch(
                `/api/user?id=${upload.author}`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );
              const userData = await userResponse.json();
              const author = userData.success ? userData.user : null;

              const card = await createCard(upload, author, userData?.user?.id);
              row.appendChild(card);
            } catch (err) {
              console.error("Author fetch or card creation error:", err);
            }
          }
          document.getElementById("cards-row").classList.remove("d-none");
          document.getElementById("loading-row").classList.add("d-none");
        })
        .catch((err) => console.error("Fetch error:", err));

      fetch(`/api/uploads?following=true`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then(async (data) => {
          const row = document.getElementById("cards-row-following");
          row.innerHTML = "";

          for (let upload of data.uploads) {
            try {
              const userResponse = await fetch(
                `/api/user?id=${upload.author}`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                  },
                }
              );
              const userData = await userResponse.json();
              const author = userData.success ? userData.user : null;

              const card = await createCard(upload, author, userData?.user?.id);
              row.appendChild(card);
            } catch (err) {
              console.error("Author fetch or card creation error:", err);
            }
          }
          document
            .getElementById("cards-row-following")
            .classList.remove("d-none");
          document
            .getElementById("loading-row-following")
            .classList.add("d-none");
        })
        .catch((err) => console.error("Fetch error:", err));
    });

  fetch(`/api/sets?limit=8`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((res) => res.json())
    .then(async (data) => {
      const row = document.getElementById("cards-row-sets");
      row.innerHTML = "";

      document.getElementById("cards-row-sets").classList.remove("d-none");
      document.getElementById("loading-row-sets").classList.add("d-none");
      for (let set of data.sets) {
        const col = document.createElement("div");
        col.className = "col-lg-3 col-md-4 col-sm-6 col-12 mb-3";
        const card = document.createElement("div");
        card.className = "card border-0 shadow";
        card.style.cursor = "pointer";
        card.addEventListener("click", () => {
          window.location.href = `/sets/${set.setid}`;
        });

        const img = document.createElement("img");
        img.src = imagesMap[set.setid];
        img.alt = setsMap[set.setid];
        img.className = "card-img-top";
        img.style.height = "130px";
        img.style.objectFit = "cover";
        card.appendChild(img);

        const cardBody = document.createElement("div");
        cardBody.className = "card-body p-2";

        const h5 = document.createElement("h5");
        h5.className = "card-title mb-1";
        h5.textContent = setsMap[set.setid];
        cardBody.appendChild(h5);

        const p = document.createElement("p");
        p.className = "card-text text-muted small";
        p.textContent = `Posted Sets: ${set.upload_count}`;
        cardBody.appendChild(p);

        card.appendChild(cardBody);
        col.appendChild(card);
        row.appendChild(col);
      }
    });
</script>
{% endblock %}
