<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/"
      ><img
        class="bi me-2"
        width="40"
        height="40"
        aria-hidden="true"
        src="{{ url_for('static', filename='Logo.png') }}"
      /><span class="fs-4 text-primary">myLegoDB</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/browse">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/sets">Sets</a>
        </li>
        {% if loggedIn %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-secondary"
            href="#"
            id="pricingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Profile</a
          >
          <ul class="dropdown-menu" aria-labelledby="pricingDropdown">
            <li>
              <a class="dropdown-item text-secondary" href="/profile"
                >Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item text-secondary" href="/addset">Add Set</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item text-danger" href="/logout">Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-lego-red me-2" href="/register/username"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-lego-blue" href="/login/username">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
