{% extends "base.html" %}{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="text-primary m-0">
      <span id="profileUsername" class="fw-bold">Loading...</span>
      <span class="text-secondary">Collection</span>
    </h1>

    <button class="btn btn-outline-primary" id="followBtn" disabled>
      <i class="bi bi-bell-fill"></i> 0
    </button>
  </div>
  <div class="mb-3">
    <label for="setSearch" class="form-label text-secondary"
      >Search Sets (By ID or Name)</label
    >
    <input
      type="text"
      class="form-control"
      id="setSearch"
      placeholder="Start typing to search sets..."
      autocomplete="off"
    />
  </div>
  <div class="row" id="loading-row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="130"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Loading...</title>
          <rect width="100%" height="100%" fill="#e9ecef"></rect>
        </svg>

        <div class="card-body p-2">
          <h5 class="card-title mb-1 placeholder-glow">
            <span class="placeholder col-8"></span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-none" id="cards-row"></div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>

<script>
  let userID = null;
  let uploads = [];

  async function displayUploads(filteredUploads) {
    const row = document.getElementById("cards-row");
    row.innerHTML = "";
    fetch(`/api/user`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => res.json())
      .then(async (userData) => {
        for (let upload of filteredUploads) {
          const card = await createCard(upload, null, userData?.user?.id);
          row.appendChild(card);
        }
      });

    document.getElementById("cards-row").classList.remove("d-none");
    document.getElementById("loading-row").classList.add("d-none");
  }

  document.getElementById("setSearch").addEventListener("input", function () {
    const query = this.value.toLowerCase().trim();
    const row = document.getElementById("cards-row");

    if (query.length < 2) {
      displayUploads(uploads);
      return;
    }

    const filtered = uploads.filter((upload) => {
      const setName = setsMap[upload.setid] || "";
      return (
        upload.setid.toLowerCase().includes(query) ||
        setName.toLowerCase().includes(query)
      );
    });

    displayUploads(filtered);
  });

  const pathSegments = window.location.pathname.split("/");
  const userid = pathSegments[pathSegments.length - 1];
  if (!userid || isNaN(userid)) {
    window.location.href = "/notfound";
  } else {
    fetch(`/api/user?id=${userid}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          userID = data.user.id;
          document.getElementById(
            "profileUsername"
          ).textContent = `${data.user.display}'s`;
          fetch(`/api/uploads?author=${userID}`, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => res.json())
            .then(async (data) => {
              uploads = data.uploads;
              await displayUploads(uploads);
            })
            .catch((err) => console.error("Fetch error:", err));
        } else {
          window.location.href = "/notfound";
        }
      });
  }

  const followBtn = document.getElementById("followBtn");
  if (!userid) {
    window.location.href = "/notfound";
  } else {
    fetch(`/api/follow/${userid}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => res.json())
      .then(async (data) => {
        followBtn.innerHTML = `<i class="bi bi-bell-fill"></i> ${data.follow_count}`;
        if (!!(data.following && data.following != null)) {
          followBtn.classList.add("btn-primary");
          followBtn.classList.remove("btn-outline-primary");
        } else {
          followBtn.classList.remove("btn-primary");
          followBtn.classList.add("btn-outline-primary");
        }
      })
      .catch((err) => console.error("Fetch error:", err));
  }

  followBtn.addEventListener("click", async () => {
    try {
      const response = await fetch(`/api/follow/${userid}`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
      });
      const data = await response.json();
      if (data.success) {
        const isFollowing = !!(data.following && data.following != null);
        followBtn.innerHTML = `<i class="bi bi-bell-fill"></i>
 ${data.follow_count}`;
        if (isFollowing) {
          followBtn.classList.add("btn-primary");
          followBtn.classList.remove("btn-outline-primary");
        } else {
          followBtn.classList.remove("btn-primary");
          followBtn.classList.add("btn-outline-primary");
        }
      }
    } catch (error) {
      console.error("error toggling favourite:", error);
    }
  });

  fetch(`/api/user`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((res) => res.json())
    .then(async (userData) => {
      if (userData.success) {
        followBtn.disabled = false;
      }
    });
</script>
{% endblock %}
