<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myLegoDB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
      <h1><span id="profileUsername">Loading...</span>'s Profile</h1>
      <div class="row" id="cards-row"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='js/cards.js') }}"></script>

    <script>
      let userID = null;

      const pathSegments = window.location.pathname.split("/");
      const userid = pathSegments[pathSegments.length - 1];
      if (!userid || isNaN(userid)) {
        alert("Invalid");
      } else {
        fetch(`/api/user?id=${userid}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.success) {
              userID = data.user.id;
              document.getElementById("profileUsername").textContent =
                data.user.username;
              fetch(`/api/getuploads?author=${userID}`, {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              })
                .then((res) => res.json())
                .then(async (data) => {
                  const row = document.getElementById("cards-row");
                  row.innerHTML = "";

                  for (let upload of data.uploads) {
                    const card = await createCard(upload, null);
                    row.appendChild(card);
                  }
                })
                .catch((err) => console.error("Fetch error:", err));
            }
          });
      }
    </script>
  </body>
</html>
